{% extends 'base.html.twig' %}

{% block title %}Property index{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-5">
        {{ include('component/flash_message.html.twig') }}
    </div>
    <h1>Property index</h1>
    <div class="d-flex justify-content-end">
        <a href="{{ path('property_new') }}" class="btn btn-info">Ajouter un bien</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            {% if is_granted('ROLE_ADMIN')%}
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            {% endif %}
            <th>Titre</th>
            <th>Surface</th>
            <th>Pièces</th>
            <th>Chambres</th>
            <th>Étage</th>
            <th>Prix</th>
            <th>Chauffage</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                {% if is_granted('ROLE_ADMIN')%}
                <td>{{ property.user.lastname }}</td>
                <td>{{ property.user.firstname }}</td>
                <td>{{ property.user.email }}</td>
                {% endif %}
                <td>{{ property.title }}</td>
                <td>{{ property.surface }}</td>
                <td>{{ property.rooms }}</td>
                <td>{{ property.bedrooms }}</td>
                <td>{{ property.floor }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.heatType }}</td>
                <td>
                    <a href="{{ path('property_show', {slug: property.slug,'id': property.id}) }}" class="btn btn-primary">voir</a>
                    <a href="{{ path('property_edit', {'id': property.id}) }}" class="btn btn-primary">modifier</a>
                    {{ include('property/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18" class="alert alert-warning">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container pagination">
        {{ knp_pagination_render(properties) }}
    </div>
</div>
{% endblock %}
