{% extends 'base.html.twig' %}

{% block title %}Voir tous nos biens{% endblock %}

{% block content %}
   <section class="section rent">
      <div class="container">
          <div class="row">
              {{ form_start(form) }}
              <div class="col">
                  {{ form_row(form.address, {id: 'search_address'}) }}
              </div>
              <div class="col">
                  <div class="form-group">
                      <button class="btn btn-primary">Rechercher</button>
                  </div>
              </div>
              {{ form_end(form) }}
          </div>
      </div>
      <br>
      <div class="rent-center container">
         {% for property in properties %}
            <div class="box">
               <div class="top">
                  <a href="{{ path('property.show',  {slug: property.slug,'id': property.id}) }}">
                     <div class="overlay">
                        {% for picture in property.pictures %}
                           <img src="{{ asset('uploads/' ~ picture.name) }}" alt="{{ property.title }}">
                        {% else%}
                           <img src="{{ asset('pictures/empty.jpg') }}" alt="{{ property.title }}">
                        {% endfor %}
                     </div>
                     <div class="pos">
                        {% for category in property.categories %}
                           <span>{{ category.name }}</span>
                        {% endfor %}
                        <span>Achetez</span>
                     </div>
                  </a>
               </div>
               <div class="bottom">
                  <p>{{ property.title}}</p>
                  <div>
                     <span>{{ property.price | number_format(0, ',', ' ') }} €</span>
                     <span><i class="far fa-eye"></i></span>
                  </div>
               </div>
            </div>
         {% endfor %}
      </div>
   </section>
{% endblock %}