{% extends 'base.html.twig' %}

{% block title %}{{ property.title}}{% endblock %}

{% block content %}
    <div class="jumbotron" style="padding-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% for picture in property.pictures %}
                        <div class="col">
                            <img src="{{ asset('uploads/' ~ picture.name) }}" style="width: 100%; height:auto;" alt="{{ property.title }}">
                        </div>
                    {% else%}
                        <img src="{{ asset('pictures/empty.jpg') }}" style="width: 100%; height:auto;" alt="">
                    {% endfor %}
                </div>
                 <div class="card col-md-3">
                     <br>
                     <img
                             class="rounded-circle"
                             width="250"
                             height="250"
                             src="{{ property.user.imageProfile is not null and property.user.imageProfile is not null ? '/uploads/' ~ property.user.imageProfile : '/pictures/avatar_defaut.png' }}"
                             alt=""
                     />
                     <div class="text-center">
                         <p>{{ property.user.lastname }} {{ property.user.firstname }}</p>
                         <p>{{ property.user.email }}</p>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>{{ property.description | nl2br }}</p>

        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="padding-top: 30px;"></div>
{% endblock %}