{% extends 'base.html.twig' %}

{% block title %}Mon profile{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 120px;">
        <div class="mt-5">
            {{ include('component/flash_message.html.twig') }}
        </div>
        <h1 class="text-center">Change photo de profile</h1>
       <div class="text-center">
           <img
                   class="rounded-circle"
                   width="20%"
                   height="20%"
                   src="{{ current_user() is not null and current_user().imageProfile is not null ? '/uploads/' ~ current_user().imageProfile : '/pictures/avatar_defaut.png' }}"
                   alt=""
           />
           <div class="container" id="search">
               {{ form_start(form)}}
               {{ form_row(form.image)}}
               {{ form_end(form)}}
           </div>
       </div>
    </div>
    <div style="padding-top: 180px;"></div>
{% endblock %}
