<!--- Hero --->
<section class="hero">
    <div class="glide glide1" id="glide1">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides glide__hero">
                {% for header in headers %}
                <li class="glide__slide">
                    <div class="banner">
                        <div class="banner-content">
                            <span>{{ header.subtitle }}</span>
                            <h1>{{ header.title }}</h1>
                            <div class="buttons-group">
                                <a href="{{ path('property.index') }}"><button>Trouvez maintenant</button></a>
                            </div>
                        </div>
                        <img src="{{ asset('uploads/' ~ header.image) }}"  class="special_01" alt="">
                    </div>
                </li>
                {% else%}
                 <li>Pas d'enregistrement en cours</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Arrows -->
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                <i class="fas fa-arrow-left"></i>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>

    </div>
</section>

<section class="section rent">
    <div class="title">
        <h2>Biens immobiliers à louer</h2>
        <p>
            Recherchez plus de 2000 propriétés à louer auprès des meilleurs agents du pays.
        </p>
    </div>

    <div class="rent-center container">
        {% for property in properties %}
        <div class="box">
            <div class="top">
                <a href="{{ path('property.show',  {slug: property.slug,'id': property.id}) }}">
                    <div class="overlay">
                        {% for picture in property.pictures %}
                            <img src="{{ asset('uploads/' ~ picture.name) }}" alt="{{ property.title }}">
                        {% else%}
                            <img src="{{ asset('pictures/empty.jpg') }}" alt="{{ property.title }}">
                        {% endfor %}
                    </div>
                    <div class="pos">
                        {% for category in property.categories %}
                            <span>{{ category.name }}</span>
                        {% endfor %}
                        <span>Achetez</span>
                    </div>
                </a>
            </div>
            <div class="bottom">
                <p>{{ property.title}}</p>
                <p class="text-primary" style="font-size: 1.4rem;">{{ property.city}}&nbsp;({{ property.PostalCode }})</p>
                <div>
                    <span>{{ property.price | number_format(0, ',', ' ') }} €</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>