<!-- Header -->
<header id="home" class="header">
    <nav class="navigation">
        <div class="nav-center container">
            <a href="{{ path('home') }}" class="logo">
                <h1>BEN<span>I</span>MMO</h1>
            </a>

            <div class="nav-menu">
                <div class="nav-top">
                    <div class="logo">
                        <h1>BEN<span>I</span>MMO</h1>
                    </div>
                    <div class="close">
                        <i class="fas fa-times"></i>
                    </div>
                </div>

                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="{{ path('home') }}" class="nav-link">Accueil</a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('property.index') }}" class="nav-link">Biens</a>
                    </li>

                    <li class="nav-item">
                        <a href="" class="nav-link">Contact</a>
                    </li>

                    {% if app.user  %}
                    <li class="nav-item">
                        <a href="{{ path('account') }}" class="nav-link">Mon compte</a>
                    </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN')%}
                    <li class="nav-item">
                        <a href="{{ path('admin_user_list') }}" class="nav-link">Back office</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="nav-icons">
                {% if is_granted('ROLE_USER')%}
                <img
                    class="rounded-circle"
                    width="30"
                    height="30"
                    src="{{ current_user() is not null and current_user().imageProfile is not null ? '/uploads/' ~ current_user().imageProfile : '/pictures/avatar_defaut.png' }}"
                    alt=""
                />
                {% endif %}
                &nbsp;
                {% if app.user %}
                    <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a href="{{ path('app_login') }}"><span><i class="fas fa-user"></i></span></a>
                {% endif %}
            </div>

            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>