<section class="section rent">
    <div class="title">
        <h1>Biens immobiliers à louer</h1>
        <p>
            Recherchez plus de 2000 propriétés à louer auprès des meilleurs agents du pays.
        </p>
    </div>

    <div class="rent-center container">
        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="{{ asset('images/pic1.jpg') }}" alt="">
                </div>
                <div class="pos">
                    <span>Maison</span>
                    <span>Achetez</span>
                </div>
            </div>
            <div class="bottom">
                <p>Villa luxueuse à las vegas</p>
                <div>
                    <span>700 000€</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="{{ asset('images/pic2.jpg') }}" alt="">
                </div>
                <div class="pos">
                    <span>Maison</span>
                    <span>Achetez</span>
                </div>
            </div>
            <div class="bottom">
                <p>Villa luxueuse à las vegas</p>
                <div>
                    <span>700 000€</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="{{ asset('images/pic3.jpg') }}" alt="">
                </div>
                <div class="pos">
                    <span>Maison</span>
                    <span>Achetez</span>
                </div>
            </div>
            <div class="bottom">
                <p>Villa luxueuse à las vegas</p>
                <div>
                    <span>700 000€</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="{{ asset('images/pic4.jpg') }}" alt="">
                </div>
                <div class="pos">
                    <span>Maison</span>
                    <span>Achetez</span>
                </div>
            </div>
            <div class="bottom">
                <p>Villa luxueuse à las vegas</p>
                <div>
                    <span>700 000€</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="{{ asset('images/pic5.jpg') }}" alt="">
                </div>
                <div class="pos">
                    <span>Maison</span>
                    <span>Achetez</span>
                </div>
            </div>
            <div class="bottom">
                <p>Villa luxueuse à las vegas</p>
                <div>
                    <span>700 000€</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="{{ asset('images/pic6.jpg') }}" alt="">
                </div>
                <div class="pos">
                    <span>Maison</span>
                    <span>Achetez</span>
                </div>
            </div>
            <div class="bottom">
                <p>Villa luxueuse à las vegas</p>
                <div>
                    <span>700 000€</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="{{ asset('images/pic1.jpg') }}" alt="">
                </div>
                <div class="pos">
                    <span>Maison</span>
                    <span>Achetez</span>
                </div>
            </div>
            <div class="bottom">
                <p>Villa luxueuse à las vegas</p>
                <div>
                    <span>700 000€</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="top">
                <div class="overlay">
                    <img src="{{ asset('images/pic2.jpg') }}" alt="">
                </div>
                <div class="pos">
                    <span>Maison</span>
                    <span>Achetez</span>
                </div>
            </div>
            <div class="bottom">
                <p>Villa luxueuse à las vegas</p>
                <div>
                    <span>700 000€</span>
                    <span><i class="far fa-eye"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>