{% extends 'base.html.twig' %}

{% block title %}Option index{% endblock %}

{% block content %}
    <div class="container">
        <div class="mt-5">
            {{ include('component/flash_message.html.twig') }}
        </div>
        <h1>Option index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
                <th><a href="{{ path('option_new') }}">Ajouter</a></th>
            </tr>
            </thead>
            <tbody>
            {% for option in options %}
                <tr>
                    <td>{{ option.id }}</td>
                    <td>{{ option.name }}</td>
                    <td>
                        <a href="{{ path('option_show', {'id': option.id}) }}" class="btn btn-primary">voir</a>
                        <a href="{{ path('option_edit', {'id': option.id}) }}" class="btn btn-primary">modifier</a>
                        {{ include('admin/option/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="alert alert-warning">aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
